/* Add this CSS to your global styles */
.rtl {
    direction: rtl;
  }
  
  .rtl h2 {
    text-align: center;
  }
  
  .group .relative h-80 {
    position: relative;
  }
  
  .absolute.top-4.left-4 {
    top: 16px;
    left: 16px;
  }
  
  .bg-green-700 {
    background-color: #4caf50;
  }
  
  .text-white {
    color: #fff;
  }
  